.logoContainer{
    width: 220px;
    height: 110px;
}

nav{
    display: flex;
}

.ulNavBar{
    display: flex;
    list-style-type: none;
    margin: 50px;
    justify-content: space-between;
    padding: 5px;

}
li{
    margin-left: 5px;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root{
    background-color: red;
}

